#homeService {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  background-color: grey;
  .contain {
    height: 100vh;
    width: 50%;
  }
  #homeService_left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    .logo {
      width: 10%;
    }
    .offres {
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
      width: 200px;
      height: 200px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;
      border: 3px solid #a5167e;
      background-color: rgba(#1e1e36, 0.3);
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(#a5167e, 0.95);
      img {
        width: 60px;
      }
      .homeService_content {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
          .subtitle {
              width: 100%;
              font-size: 1.5vw;
              font-weight: 700;
              margin: 0;
              text-align: center;
              color: #1e1e36;
              span {
                -webkit-text-stroke: 2px #1e1e36;
              }
          }
      }
      
    }
  }
  #homeService_right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
      position: absolute;
      &:first-of-type {
        width: 10%;
        transform: translate3d(0, -130px, 0);
        z-index: 3;
      }
      &:nth-of-type(2){
        transform: translate3d(0, -75px, 0);
z-index: 2;
      }
      &:nth-of-type(3){
        transform: translate3d(0, 0px, 0);
z-index: 1;
      }
      &:last-of-type {
        transform: translate3d(0, 75px, 0);
        z-index: 0;
      }
    }
  }
}
