#projects {
  width: 100%;
  height: auto;
  background: linear-gradient(grey, #1e1e36);

  #project_slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    .project_slide {
      width: 70%;
      height: 70%;
      background-image: url(../../../../assets/img/Demetis.webp);
      background-size: cover;
      opacity: 1;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .round_button {
        position: absolute;
        top: 0;
        transform: translate3d(0, -50%, 0);
      }
      .project_slide_filter {
        width: 100%;
        height: 100%;
        background: rgba(#1c3661, 0.7);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 8vw;
          font-weight: 800;
          color: white;
        }
        p {
          font-size: 1.2vw;
          color: white;
        }
      }
    }
  }
}
