#presentation {
    width: 100vw;
    height: auto;
    display: flex;
    background-color: #272b53;
    #spinning_circle_container {
        width: 30vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        #spinning_circle {
            width: 50%;
            opacity: 1;
        }
    }
    #domaines{
        width: 70vw;
        height: auto;
        background-color: violet;
        position: relative;
        article {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}