#presentation {
    width: 100vw;
    height: auto;
    display: flex;
    #spinning_circle_container {
        width: 20vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        #spinning_circle {
            width: 50%;
            opacity: 1;
        }
    }
    #domaines{
        width: 80vw;
        height: auto;
        position: relative;
        article {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                width: 40%;
                font-size: 1.2vw;
                text-align: left;
                font-weight: 500;
                color: #a5167e;
                span {
                    font-weight: 800;
                  }
            }
        }
    }
}