* {
  margin: 0;
  padding: 0;
}

// purple: #A5167E
// blue: #21254F

.App {
  text-align: center;
  background-color: #272b53;
}
.main_title {
  line-height: 90%;
  letter-spacing: 5px;
  font-size: 5vw;
  font-weight: 800;
  color: white;
  span {
    -webkit-text-stroke: 2px #a5167e;
    // -webkit-text-stroke-width: 2px;
    color: transparent;
  }
}

.bar_low_title {
  height: 100px;
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a5167e;
  div {
    width: 40px;
    height: 2px;
    background-color: #a5167e;
  }
}

.args_section {
  width: 100%;
  display: flex;
  align-items: center;
  color: #a5167e;
  div {
    height: 70px;
    width: 70px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    font-weight: 700;
    border-bottom: 2px solid #a5167e;
    -webkit-text-stroke: 2px #a5167e;
    color: transparent;
    p {
      font-weight: 900;
    }
  }
}

.subtitle {
  font-size: 3vw;
  text-align: left;
  width: 40%;
  margin-bottom: 30px;
  color: #a5167e;
  font-weight: 300;
  span {
    -webkit-text-stroke: 2px #a5167e;
    color: transparent;
    font-weight: 500;
  }
}

.btn_container {
  display: flex;
  align-items: center;
  font-size: 1.2vw;
  font-weight: 500;

  a {
    color: #a5167e;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 2px dotted #a5167e;
  }
  img {
    margin-left: 10px;
    width: 4%;
    transform: rotate(135deg);
    padding-bottom: 10px;
  }
}

#background_circle {
  width: 20px;
  height: 20px;
  background: #272b53;
  border-radius: 10px;
  transform: scale(0);
  position: absolute;
}
.articles_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 20%;
  color: white;
  img {
    width: 60px;
  }
  .articles {
    width: 80%;
    text-align: left;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    h1 {
      font-size: 2vw;
    }
  }
}

.columns {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.round_button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .circleGrey {
    width: 150px;
  }
  .neonLogo {
    width: 50px;
    position: absolute;
  }
}
