* {
  margin: 0;
  padding: 0;
}
// dark purple: #121525
// purple: #A5167E
// blue: #21254F
.layer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 5px solid #A5167E;
  box-shadow:25px 30px 0px #21254F;
}

.page_title {
  font-size: 8vh;
  text-shadow:15px 20px 4px  rgba(#21254F, 0.5);
}

.btn_pink {
width: 42%;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
background-color: #A5167E;
border: 4px solid #21254F;
color: #21254F;
box-shadow: 15px 20px 4px rgba(#A5167E,0.5);
}

.btn_purple {
  width: 42%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21254F ;
border: 4px solid#A5167E;
box-shadow: 15px 20px 4px  rgba(#21254F,0.5);
}

.link {
  height: 50px;
  border-bottom: 2px dotted  #A5167E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    transform: rotate(135deg);
    height: 20px;
  }
}
.Medium_Title {
  font-size: 4vh;
  text-shadow:15px 20px 4px  rgba(#21254F, 0.5);
}
.regular_txt {
  font-size: 2.5vh;
  text-shadow:15px 20px 4px  rgba(#21254F, 0.5);
}

.moving_title_txt {
  font-size: 8vh;
  white-space: nowrap;
  text-shadow:15px 20px 4px  rgba(#21254F, 0.5);
}

