@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');body {
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Play', sans-serif;
    background-color: #121525;
    color: #A5167E;
    
}